<!DOCTYPE html>
<html>

<head>
    <title>Stratify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="newAcct.css" />
    <link rel="stylesheet"  href="container.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body class="color">
    <center>
        <div id="wrapper">
                <div class="container">
                        <a href="/login" id="arrow"> &#8592</h></a><br>
                        <h id="title"> STRATIFY </h>
                        <form action='/processSignup' method='post'>
                                <div id="error"> 
                                    <%if (message.length > 0) { %>
                                        <%= message %>
                                    <% } %>
                                    <%if (message.length == 0) { %>
                                        <p>* Indicates required fields</p>
                                    <% } %>
                                </div>
                               
                                <input id="creds"  type="text" placeholder="* Enter Name" name="name">
                                <input id="creds2" type="text" placeholder="* Enter Email" name="email">
                                <input id="creds3" type="password" placeholder="* Choose Password" name="password"> <br>
                                <input id="creds4" type="password" placeholder="* Confirm Password" name="confirmPass"> <br>
                                <div id='buttonDiv'>
                                    <input id="goBtn" type="submit" value="Go!">
                                </div>
                        </form> 

                        
                </div>
        </div>
           
    </center>
    
</body>


</html>