<!DOCTYPE html>
<html>

<head>
    <title>Stratify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="newPass.css" />
    <link rel="stylesheet"  href="container.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body class="color">
    <center>
        <div id="wrapper">
            <div class="container">
                    <!-- <h id="title"> STRATIFY </h> -->
                    <a href="login.html" id="arrow"> &#8592</h></a><br>
                    <p id="title">STRATIFY</p>
                    <form action='/newPass' method='post'>
                        <%if (message.length > 0) { %>
                            <%= message %>
                        <% } %>
                        <%if (email.length > 0) { %>
                            <input id="creds" type="hidden" value="<%= email %>"  name="email">
                        <% } %>
                        <input id="creds" type="password" placeholder="Enter New Password" name="password"><br>
                        <input id="creds" type="password" placeholder="Confirm New Password" name="confirmPass">
                        <div id='buttonDiv'>
                            <input id="confirmBtn" type="submit" value="Confirm"></a>
                    </div>

                    </form>
                    
                   
                    
            </div>
        </div>
            
    </center>
    
</body>


</html>