.card{
    width: 100%;
    background-color:rgb(245, 245, 245);
    opacity: .8;
    opacity: .6;
    border-style: groove;
    border-color: black;
    border-width: thin;
    border-radius: 3px;
    margin: 5px;
}
.card_header{
    width: 100%;
    padding: 5px 10px;
    color: white;
}
.card_header_health{
    background-color: #066C25;
    padding: 10px 10px;
    width: 100%;
    border-radius: 4px;
}
.card_header_work{
    background-color: rgb(62, 0, 87);    
    padding: 10px 10px;
    width: 100%;
    border-radius: 4px;
}
.card_header_social{
    background-color: rgb(247, 128, 18);
    padding: 10px 10px;
    width: 100%;
    border-radius: 4px;
}
p.taskName{
    font-size: 14pt;
    margin: 0px;
    height: 25px;
}
div.card_header p{
    display: inline-block;
}
div.card_header a{
    font-size: 12;
    margin-right: 20px;
}
div.card_header a:hover{
    cursor: pointer;
}
.card_info{
    margin-left: 5px;
}
div.card_info{
    padding: 10px;
}
#arrow{
    color: white;
}
.comments{
    width: 80%;
    background-color: white;
    border-radius: 4px;
    border-style: groove;
    border-color: rgb(100, 99, 99);
    border-width: thin;
    box-shadow: rgb(160, 158, 158) 1px 1px 1px 1px;
    padding: 5px;
}
.done{
    float: right;
    border-radius: 4px;
    background-color: #043A81;
    opacity: .85;
    color: white;
    padding: 5px;
    width: 70px;
    font-size: 14px;
}
#commentcolor{
    color: grey;
}