<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="col"> 
    <div class='top'>
        <a href='#' *ngIf=showPlus><i class="fa fa-plus-circle" style="font-size:22px; padding-right: 12px"></i></a>
        <p>{{sectionName}}</p><br>
    </div>
    <app-task-card taskName="Dummy Name" description="This is a test description I am making it longer haha" currentStatus=sectionName></app-task-card>
    <app-task-card taskName="Dummy Name" description="This is a test description" currentStatus=sectionName></app-task-card>
</div>