.col {
  padding: 20px;
  border-left: 1px solid black;
  margin: 0px;
  height: 100vh;
  overflow: scroll;
}
.top{
  display: block;
}
.top p{
  display: inline-block;
  margin: 0;
}
div.top button{
  background: none;
  border: none;
  padding: 0;
}