<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="card">
    <a href='#' (click)="taskClicked()">
        <div class="card_header">
            <p class='taskName'>{{taskName}}</p>
        </div>
    </a>
    <div class="card_info">
        <p class='taskDescription'>{{description}}</p>
    </div>
    <div class="dropdown">
        <select>
            <option>To-Do</option>
            <option>In-Progress</option>
            <option>Done</option>
        </select>
    </div>
    <span id="remove" class="glyphicon glyphicon-trash"></span>
</div>