<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="card">
    <a href='#' (click)="taskClicked()">
        <div class="card_header">
            <p class='taskName'>{{taskName}}</p>
        </div>
    </a>
    <div class="card_info">
        
        <p id="edit"> Edit </p> 
        <p class='taskDescription'>{{description}}</p>
        <p id ='weight'> Weight:{{weight}}</p>
        <p id ="date"> Due:{{date}} </p>
       

    </div>
    <div id="progress" class="dropdown">
        <select (change)="statusChanged(t.value)" #t>
            <option *ngIf="currentStatus==0" selected value=0>To-Do</option>
            <option *ngIf="currentStatus!=0" value=0 >To-Do</option>
            <option *ngIf="currentStatus==1" selected value=1>In-Progress</option>
            <option *ngIf="currentStatus!=1" value=1>In-Progress</option>
            <option *ngIf="currentStatus==2" selected value=2>Done</option>
            <option *ngIf="currentStatus!=2" value=2>Done</option>
        </select>
    </div>
    <span id="remove" class="glyphicon glyphicon-trash" (click)="removeClicked()"></span>
</div>